h1 {
  font: 900 40px/1.2 $altFont;
  text-transform: uppercase;
  
  @media #{$medium} {
    font-size: 80px;
    line-height: 1.1;
  }
}

h2 {
  font: 900 24px/1.33 $altFont;
  margin-bottom: 6px;
  @media #{$medium} {
    font-size: 56px;
    margin-bottom: 10px;
    line-height: 1.14;
  }

}