h1 {
  font: 900 40px/1.2 $altFont;
  text-transform: uppercase;
  position: relative;
  z-index: 100;
  max-width: 90%;
  margin: auto;
  
  @media #{$medium} {
    font-size: 80px;
    line-height: 1.1;
  }
}

h2 {
  font: 900 24px/1.33 $altFont;
  margin-bottom: 6px;
  @media #{$medium} {
    font-size: 56px;
    margin-bottom: 14px;
    line-height: 1.14;
  }

}

h3 {
  font: 900 19px/1 $altFont;
  margin-bottom: 32px;

  @media #{$medium} {
    font-size: 40px;
    margin-bottom: 56px;
  }
}