.c-nav-toggle {
  width: 24px;
  height: 19px;
  position: fixed;
  cursor: pointer;
  right: 7.5%;
  top: 41px;
  z-index: 9001;
  will-change: transform;
  transition: transform 200ms linear;

  &--pinned {
    transform: translateY(0%);


  }
  &--unpinned {
    transform: translateY(-60px);
  }



  @media #{$medium} {
    top: 69px;

    &--unpinned {
      transform: translateY(-88px);
    }
  }

  &:before,
  &:after {
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    background: #fff;
    transition: .2s linear;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  &.collapse {

    &:before {
      transform: rotate(45deg);
      top: 8px;
    }

    &:after {
      transform: rotate(-45deg);
      bottom: 8px;
    }

    .c-nav-toggle__line {
      opacity: 0;
    }
  }


}

.c-nav-toggle__line {
  height: 3px;
  width: 100%;
  position: absolute;
  top: 8px;
  left: 0;
  background: #fff;
  opacity: 1;
  transition: .2s linear;
}