.c-site-header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: transparent;
  will-change: transform;
  transition:  .2s linear;

  &--not-top {
    &.c-site-header--pinned {
      background: rgba(0,0,0,.16);
    }
  }

  &--pinned {
    transform: translateY(0%);
  }
  &--unpinned {
    transform: translateY(-100%);
  }

  img {
    width: 82px;
    display: block;
  }

  @media #{$medium} {
    height: 165px;
  }
}