.l-content-container {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.l-slim-container {
  @media #{$medium} {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.l-page-section {
  @extend .u-std-pb;
  @extend .u-std-pt;
}

.l-anchor-left {
  padding-right:7.5%;
}

.l-split-content {
  @media #{$medium} {
    display: flex;
    justify-content: space-between;

    &--align-center {
      align-items: center;
    }

    &--equal-width {
      > div {
        flex: 1;
        &:last-child {
          margin-left: 120px;
        }
      }
    }

  }
}

.l-anchor-right {
  padding-left:7.5%;
}

.l-constrain-content {
  @media #{$medium} {
    width: 70%;
  }
}