/*------------------------
  MISC
------------------------*/
.u-hover-link {
  text-transform: uppercase;
  font-family: $altFont;
  font-weight: 900;
  color: #000;
  display: inline-block;
  position: relative;
  padding-bottom: 4px;

  &:after {
    content: '';
    height: 2px;
    width: 24px;
    background: #000;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: .2s linear;

    @media #{$medium} {
      right: 0;
    }
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }

  &--white {
    color: #fff;

    &:after {
      background: #fff;
    }
  }

  &--right {
    &:after {
      left: auto;
      right: 0;
    }
  }
}

/*------------------------
  Spacing
------------------------*/
.u-std-pt {
  padding-top: 80px;

  @media #{$medium} {
    padding-top: 160px;
  }
}
.u-std-pb {
  padding-bottom: 80px;

  @media #{$medium} {
    padding-bottom: 160px;
  }
}

.u-sm-pt {
  padding-top: 40px;

  @media #{$medium} {
    padding-top: 120px;
  }
}

.u-sm-pb {
  padding-bottom: 40px;

  @media #{$medium} {
    padding-bottom: 120px;
  }
}

.u-img-spacer {
  display: inline-block;
  margin-bottom: 40px;

  @media #{$medium} {
    margin-bottom: 80px;
  }
}
/*------------------------
  Text
------------------------*/
.u-lrg-text {
  font: 16px/1.5 $siteFont;
  
  @media #{$medium} {
    font-size: 28px;
    line-height: 1.57;
  }
}

.u-text-align-right {
  text-align: right;
}

.u-std-text {
  font: 16px/1.5 $siteFont;
}

/*------------------------
  Backgrounds
------------------------*/
.u-img-fill-area {
  background-size: cover;
  background-position: center center;
}